@font-face
{
	font-family:kenyan;
	src:url('http://conradtweb.com/files/fonts/kenyan.ttf');
}
html
{
	background-image:url([[pix:theme|fabric_plaid]]);
	font-family:Georgia;
}
a, a:visited, a:active
{
	color:[[setting:linkcolor]];
}

/* HEADER */

#page-header
{
	background-color:#333;
	background-image:url([[pix:theme|grey_wash_wall]]);
	margin-bottom:15px;
	display:block;
	position:static;
}
#page-header .headermain
{
	font-family:kenyan;
	font-size:48px;
	color:#fff;
	margin:0;
	margin-left:20%;
	margin-top:-25px;
}
#page-header .headermenu
{
	float:none;
	display:block;
	color:#fff;
	margin:0;
	height:30px;
	min-width:800px;
}
#page-header .headermenu .logininfo
{
	display:inline-block;
	padding:5px;
	margin:8px;
	margin-right:20px;
	background-color:#000;
	border:1px inset #666;
}
#logo_banner
{
	width:190px;
	height:209px;
	background-image:url([[pix:theme|banner]]);
	background-repeat:no-repeat;
	position:absolute;
	left:5%;
	top:0px;
	z-index:9999;
}
#main_logo
{
	width:190px;
	height:137px;
	background-image:url([[setting:logo]]);
	background-repeat:no-repeat;
	background-position:center center;
	margin:0;
	margin-left:-1px;
}

/* CUSTOM MENU */
#custommenu
{
	float:right;
	font-size:20px;
	clear:none;
	margin-right:10%;
}
#custommenu .yui3-menu-content, #custommenu ul, #custommenu a
{
	border:none !important;
}
#custommenu a
{
	color:#fff;
	font-size:26px;
	font-weight:100;
	font-family:kenyan;
}
#custommenu a:hover
{
	color:[[setting:navhovercolor]];
	text-decoration:underline;
}
#custommenu .yui3-menuitem-active
{
	background-color:transparent !important;
}
#empty_space
{
	height:130px;
}

/* NAVBAR */

.navbar
{
	padding:7px;
}

/* CONTENT */

#page-content
{
	position:static;
	width:80%;
	margin:auto;
	display:block;
	float:none;
	background-color:#fff;
	border:5px solid #333;
	margin-top:100px;
	margin-bottom:50px;
}
.block
{
	border:1px solid #ccc;
	padding:5px;
}
.block p
{
	font-size:16px;
}
.block h2
{
	font-size:20px;
	color:#333;
}
#region-main-wrap .current
{
	background-color:#84a9d3 !important;
}
.box
{
	border:none;
}

/* FOOTER */

#page-footer
{
	padding:5px;
}
#page-footer img
{
	margin:5px;
}

/* CSS3 */
#custommenu a, #page-header #headermain
{
	text-shadow:0px -2px #000;
}
#page-header
{
  -moz-box-shadow:    0px 3px 5px 6px #333;
  -webkit-box-shadow: 0px 3px 5px 6px #333;
  box-shadow:         0px 3px 5px 6px #333;
}
#page-content
{
  -moz-box-shadow:    2px 2px 15px #333;
  -webkit-box-shadow: 2px 2px 15px #333;
  box-shadow:         2px 2px 15px #333;
}
#page-header .headermenu .logininfo, .block
{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#page-header .headermain
{
		/* Firefox */
	margin-left: -moz-calc(5% + 200px);
	/* WebKit */
	margin-left: -webkit-calc(5% + 200px);
	/* Opera */
	margin-left: -o-calc(5% + 200px);
	/* Standard */
	margin-left: calc(5% + 200px);
}